


/* --змінна flex-- */




/* header */



.filter {
	display: flex;
	justify-content: center;
	gap: 8px;

}
.filter--position {
	margin-bottom: 50px;
}


/* hero */

/* modal window */





/* section features */

/* section about */

/* section team */

/* social-media */

/* client */

/* portfolio */
/* filter */


/* project */


/* footer */



